<h2>Books List</h2>
<button type="button"><a href="{{ url_for('add_product')}}">Add Books Data</a></button>
<h1>All Books </h1>
{% if books  %}
 <table>
    <tr>
          <th>Serial</th>
          <th>title</th>
          <th>category</th>
          <th>items</th>
          <th>price</th>
          <th>author</th>
          <th>description</th>
          <th>stock</th>
          <th>Picture</th>
    </tr>
    {% for e in books %}
    <tr>        <td>{{ e.id }}</td>
                <td>{{ e.title }}</td>
                <td>{{ e.category }}</td>
                <td>{{ e.item }}</td>
                <td>{{ e.price }}</td>
                <td>{{ e.author }}</td>
                <td>{{ e.description }}</td>
                <td>{{ e.stock }}</td>
                <td><img src={{ url_for('static', filename='images/books/'+ e.picture ) }} alt="{{ e.picture }}" ></td>
                <td>
                <a href="/update/{{ e.0 }}">Edit</a>
                
              </td>
                
              
    </tr> 
   

{% endfor %}
 </table>
{% endif %}

